.global-layout {
    min-height: 100vh;
    width: 100%;
}



/* Post Card */
.row-container {
    display: 'flex';
    flex-direction: 'row';
    justify-content: 'center';
    align-content: 'center';
    padding-bottom: '2%'
}



/* InputField */
.input {
    padding: 1rem;
}

/* Custom Field */
.button {
    width: 100%;
    height: 3rem;
    font-weight: bold;
    font-size: 1rem;
}